<!--<div class="prod-head" style="margin-bottom: 50px;">-->
    <!--<div flex-xs="" flex-gt-xs="100" layout="column">-->
        <!--<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="">-->
            <!--<md-card-title>-->
                <!--<md-card-title-media class="md-media-sm card-media">-->
                    <!--<img ng-src="{{details.imageUrl}}" />-->
                <!--</md-card-title-media>-->
                <!--<md-card-title-text class="item-details-cart">-->
                    <!--<span class="cart-item-detail" style="color: #03a9f4;">{{details.title}}</span>-->
                    <!--<span class="md-subhead">-->
                                    <!--<span><del class="fade inr-cart-init"><i class="fa fa-inr" aria-hidden="true"></i>{{details.maximumRetailPrice}}</del></span>-->
                                    <!--<span class="selling-price selling-price-cart"><i class="fa fa-inr" aria-hidden="true"></i>{{details.sellingPrice}}</span>-->
                                <!--</span>-->
                <!--</md-card-title-text>-->
            <!--</md-card-title>-->
            <!--<md-card-actions layout="row" layout-align="end center">-->
                <!--<button style="width: 50%;" class="sf-button-secondary" ng-click="addToMCart(details)"><span class="cta-text">ADD TO CART</span></button>-->
                <!--<button style="width: 50%;" class="sf-button-primary" ng-click="mBuyNow(details)"><span class="cta-text">BUY NOW</span></button>-->
            <!--</md-card-actions>-->
        <!--</md-card>-->
        <!--<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="">-->
            <!--<div class=" border-description ">-->
            <!--<span class="desc-blk-head">DESCRIPTION</span>-->
            <!--</div>-->
            <!--<ul class="large-block-grid-2 description-content">-->
            <!--<div class="padding-content-pdp" ng-bind-html="detailedDescription">-->
            <!--</div>-->
            <!--</ul>-->
        <!--</md-card>-->
    <!--</div>-->
<!--</div>-->
