
.container-img {
    position: relative;
    width: 0;
  cursor: pointer;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.container-img:hover .image {
  opacity: 0.3;
}

.visuallyhidden {
  display: none;
}

.wizard-progress {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;  margin-top: 20px;
  white-space: nowrap;
}

.wizard-progress li {
  float: left;
  margin-right: 50px;
  text-align: center;
  position: relative;
  width: 100px;
}

.wizard-progress .step-name {
  display: table-cell;
  height: 32px;
  vertical-align: bottom;
  text-align: center;
  width: 100px;
}

.wizard-progress .step-name-wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: bottom;
}

.wizard-progress .step-num {
  font-size: 14px;
  font-weight: bold;
  border: 3px solid #0070c0;
  border-radius: 50%;
  width: 30px;
  display: inline-block;
  margin-top: 10px;
}

.wizard-progress .step-num:after {
  content: "";
  display: block;
  background: #0070c0;
  height: 4px;
  width: 126px;
  position: absolute;
  bottom: 10px;
  left: 62px;
}

.wizard-progress li:last-of-type .step-num:after {
  display: none;
}

.wizard-progress .active-step .step-num {
  background-color: #1B63B3;
  color: #fff;
}

.cloth-type-image{
  cursor: pointer;
  width: 70px;
  padding: 0 12px;
  height: 50px;
  margin: 0 30px;
  outline: none;
}

div#timeline {
  width: 100%;
  text-align: center;
}
ul.centerUL {
  line-height: 1.4;
  padding-left: 0;
  width: 60%;
  margin: 0 auto;
}
.centerUL li {
  display: inline;
  text-align: center;
}
.fabric-components{
  display: inline-grid;
  font-size: 12px;
  font-weight: 600;
}

.active-btn{
  background: #1f62a7 !important;
  color: #FFFFFF !important;
}

.customize-cat{
  border-bottom: 1px solid #1B63B3;
}