<div class="browser-alert">
    <div class="row" style="font-weight: 700;font-size: 18px;">Your browser is outdated, Please update your browser by visiting the following link: </div>
    <div class="row padding-icon-container">
        <span class="small-4 columns width-icons-browser"><a href="https://www.google.com/chrome/browser/desktop/" target="_blank"> <img ng-src="{{assetsURLPrefix}}/ic-chrome-logo.png" /></a></span>
        <span class="small-4 columns width-icons-browser middle-icon-margin"><a href="https://www.mozilla.org/en-GB/firefox/new/" target="_blank"> <img ng-src="{{assetsURLPrefix}}/ic-firefox-logo.png" /></a></span>
        <span class="small-4 columns width-icons-browser"> <a href="https://support.apple.com/en_IN/downloads/safari" target="_blank"><img ng-src="{{assetsURLPrefix}}/ic-safari-logo.png" /></a></span>
        <span class="small-4 columns width-icons-browser"></span>
    </div>
    <div class="row">
        <span class="small-4 columns" style="padding-left: 9%; font-weight: 700;"><a href="https://www.google.com/chrome/browser/desktop/" target="_blank"> Google Chrome</a></span>
        <span class="small-4 columns" style="padding-left: 9%; font-weight: 700;"><a href="https://www.mozilla.org/en-GB/firefox/new/" target="_blank">Firefox</a></span>
        <span class="small-4 columns" style="font-weight: 700;padding-left: 5%;"><a href="https://support.apple.com/en_IN/downloads/safari" target="_blank">Safari</a></span>
        <span class="small-4 columns width-icons-browser"></span>
    </div>
</div>
