<!-- <md-dialog class="uplift-dialog">
    <md-dialog-content class="only-web-login">
        <img ng-src="{{imgPrefix}}/bg-login-image.png" class="columns small-6 show-only-web" id="cp-no-padding" style="height: 508px;">
        <md-tabs md-dynamic-height md-border-bottom class="columns small-6" id="only-mobile">
            <md-tab label="REGISTER">
                <md-content layout-padding="" style="padding-bottom: 0;">
                    <form name="projectForm" class="inputdemoErrors">
                        <md-input-container class="md-block margin-md-block">
                            <label>Name</label>
                            <input required="" name="clientName" ng-model="clientName" id="cp-background-white" class="no-margin" ng-pattern="/^[a-zA-Z ]{2,30}$/">
                            <div ng-messages="projectForm.clientName.$error" md-auto-hide="false" ng-show="projectForm.clientName.$touched">
                                <div ng-message="required">Let us know your name!</div>
                                <div ng-message-exp="['pattern']">
                                    Your name doesn't look like a name.
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block margin-md-block">
                            <label>Email</label>
                            <input required="" type="email" name="clientEmail" ng-model="clientEmail" minlength="10" maxlength="100" ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' id="cp-background-white">
                            <div ng-messages="projectForm.clientEmail.$error" role="alert" md-auto-hide="false" ng-show="projectForm.clientEmail.$touched">
                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                    Your email must look like an e-mail address.
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block margin-md-block">
                            <label>Password</label>
                            <input type="password" required="" name="clientPassword" ng-model="clientPassword" id="cp-background-white" ng-change="cnfrmPass()">
                            <div ng-messages="projectForm.clientPassword.$error" md-auto-hide="false" ng-show="projectForm.clientPassword.$touched">
                                <div ng-message="required">You forgot to fill this!</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block margin-md-block">
                            <label>Confirm Password</label>
                            <input type="password" required="" name="clientConfirmPassword" ng-model="clientConfirmPassword" id="cp-background-white" ng-change="cnfrmPass()">
                            <div ng-messages="projectForm.clientConfirmPassword.$error" md-auto-hide="false" ng-show="projectForm.clientConfirmPassword.$touched">
                                <div ng-message="required">You forgot to fill this!</div>
                                <div class="font-confirm-password" ng-show="clientPassword != clientConfirmPassword">Passwords do not match!</div>
                            </div>
                            <div ng-show="errorRegFlag" class="sf-validation-error" ng-bind="errorRegMessage"></div>
                        </md-input-container>
                        <button class="sf-button-primary register-button" ng-click="userRegister()" ng-disabled="projectForm.$invalid" ng-class="projectForm.$invalid || disable ? 'disabled' : ''">REGISTER</button>
                    </form>
                    <h2 id="line-strike" style="margin:0;"><span class="font-line">OR</span></h2>
                    <div class="row center-class-parent">
                        <span class="thisDiv">REGISTER USING</span>
                    </div>
                    <div class="row">
                        <div class="social-register">
                            <div class="btn-lg btn-block btn-social btn-facebook social-button-width sf-button-secondary" ng-click="loginFacebook()">
                                <i class="icon-login-fb vertical-align-middle" id="facebook-align"></i>
                            </div>
                            <google-plus-signin clientid="117575776360-se3ubakrmij2q5mouk2rk46740ipurca.apps.googleusercontent.com" customtargetid="my-custom-element" ng-if="google">
                                <button class="btn-lg btn-block btn-social btn-gplus social-button-width no-outline-mac sf-button-secondary" id="google2" ng-mouseover="gSignIn()"><i class="icon-login-google no-outline-mac" id="facebook-align"></i></button>
                            </google-plus-signin>
                            <div class="btn-lg btn-block btn-social btn-gplus social-button-width no-outline-mac sf-button-secondary" id="my-custom-element" ng-if="!google" ng-click="gClick()">
                                <i class="icon-login-google vertical-align-middle no-outline-mac" id="facebook-align"></i></div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="LOGIN">
                <md-content class="md-padding">
                    <form name="loginForm" class="inputErrors" style="margin-top: 10px;">
                        <md-input-container class="md-block margin-md-block">
                            <label>Email</label>
                            <input required="" type="email" name="clientEmailLogin" ng-model="clientEmailLogin" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" id="cp-background-white">
                            <div ng-messages="loginForm.clientEmailLogin.$error" role="alert" md-auto-hide="false" ng-show="loginForm.clientEmailLogin.$touched">
                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                    Your email must look like an e-mail address.
                                </div>
                            </div>
                            <div ng-bind="errorText" ng-show="notReg" class="sf-validation-error"></div>
                        </md-input-container>
                        <md-input-container class="md-block margin-md-block" ng-if="forgotFlag">
                            <label>Enter OTP emailed to you</label>
                            <span ng-if="!OTPValidPending && !otpInvalid" class="otp-validate-tick">&#x2713;</span>
                            <input required="" name="pincode" style="float: left;" ng-model="pincode" id="cp-background-white" class="no-margin" md-maxlength="6" maxlength="6" ng-change="myFunc(pincode)">
                            <div ng-messages="loginForm.pincode.$error" md-auto-hide="false" ng-show="loginForm.pincode.$touched">
                                <div ng-message="required">You forgot to enter your pin!</div>
                                <div ng-message="pattern" class="my-message">That doesn't look like a OTP
                                </div>
                                <div ng-message="md-maxlength">Hey! The code is usually 6 digit long!</div>
                                <div ng-show="otpInvalid" class="sf-validation-error" ng-bind="errorOTPMessage"></div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block margin-md-block" ng-if="!forgotFlag" ng-hide="hidePasswdField">
                            <label>Password</label>
                            <input type="password" required="" name="clientLoginPassword" ng-model="clientLoginPassword" id="cp-background-white" ng-change="myNewPassword(clientLoginPassword)">
                            <div ng-messages="loginForm.clientLoginPassword.$error" md-auto-hide="false" ng-show="loginForm.clientLoginPassword.$touched || errorFlag">
                                <div ng-show="!errorFlag" ng-message="required">You forgot to fill this!</div>
                                <div class="font-confirm-password" ng-show="errorFlag" ng-bind="errorCaseMessage"></div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block margin-md-block" ng-if="forgotFlag">
                            <label>New Password</label>
                            <input type="password" required="" name="changeLoginPassword" ng-model="changeLoginPassword" id="cp-background-white" ng-disabled="OTPValidPending" ng-change="myNewPassword(changeLoginPassword)">
                            <div ng-messages="loginForm.changeLoginPassword.$error" md-auto-hide="false" ng-show="loginForm.changeLoginPassword.$touched">
                                <div ng-message="required" class="sf-validation-error">You forgot to fill this!</div>
                            </div>
                        </md-input-container>
                        <div ng-if="!forgotFlag">
                            <button class="sf-button-primary register-button" ng-click="userLogin()" ng-disabled="loginForm.$invalid" ng-class="loginForm.$invalid ? 'disabled' : ''">LOGIN</button>
                        </div>
                        <div ng-if="forgotFlag">
                            <button class="sf-button-primary register-button" ng-click="changePasswordLogin()" ng-disabled="loginForm.$invalid" ng-class="loginForm.$invalid ? 'disabled' : ''">LOGIN</button>
                        </div>
                        <div class="forgot-password-txt">
                            <button class="cp-pointer-cursor forgot-passwd-button" ng-click="forgotPassword()"><span style="color:#01579b;">Forgot Password?</span></button>
                        </div>
                    </form>
                    <h2 id="line-strike" style="margin:0;"><span class="font-line">OR</span></h2>
                    <div class="row center-class-parent">
                        <span class="thisDiv">LOGIN USING</span>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="social-register">
                            <div class="btn-lg btn-block btn-social btn-facebook social-button-width sf-button-secondary" ng-click="loginFacebook()">
                                <i class="icon-login-fb vertical-align-middle" id="facebook-align"></i>
                            </div>
                            <google-plus-signin clientid="117575776360-se3ubakrmij2q5mouk2rk46740ipurca.apps.googleusercontent.com" customtargetid="my-custom-element" ng-if="google">
                                <button class="btn-lg btn-block btn-social btn-gplus social-button-width no-outline-mac sf-button-secondary" id="google2" ng-mouseover="gSignIn()"><i class="icon-login-google no-outline-mac" id="facebook-align"></i></button>
                            </google-plus-signin>
                            <div class="btn-lg btn-block btn-social btn-gplus social-button-width no-outline-mac sf-button-secondary" id="my-custom-element" ng-if="!google" ng-click="gClick()">
                                <i class="icon-login-google vertical-align-middle no-outline-mac" id="facebook-align"></i></div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
</md-dialog>
 -->