<div class="sticky" ng-controller="TopbarCtrl">
   
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area" style="width: 10%;">
            <li class="name" ui-sref="home" href="/home">
                <h1><a class="logo-cp-navbar"><img ng-src="{{assetsURLPrefix}}/ic_login_logo.png" alt="Adda 247" style="width: 100%;"></a></h1>
            </li>
          
        </ul>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li class="cart-top"><a ui-sref="myCart"><span class="icon-cart icons-topbar"></span><span></span>
                    <span class="numberCircle"><span>{{cartCount}}</span></span></a></li>
               
                <li ng-show="!isLoggedIn()" ng-click="showLogin($event)" class="no-outline-mac">
                <a>SIGNUP</a>
                </li>
                 <li ng-show="!isLoggedIn()" ng-click="showLogin($event)" class="no-outline-mac">
                    <a>LOGIN</a>
                </li>
                <li ng-show="isLoggedIn()" id="dropdownMenuMyAccount" class="has-dropdown not-click">
                    <a><span class="icon-account icons-topbar"></span>MY ACCOUNT</a>
                    <ul id="dropdownMenuMyAccount" class="dropdown card-shadow">
                        <li class="no-outline-mac" ui-sref="myProfile"><a>Account Info</a></li>
                        <!--                         <li><a>My Addresses</a></li>
 -->
<!--
                        <li class="no-outline-mac" ui-sref="myTestSeries"><a>My Test Series</a></li>
                        <li class="no-outline-mac" ui-sref="ebooks"><a>My E-Books</a></li>
                        <li class="no-outline-mac" ui-sref="myOrders"><a>Order History</a></li>
-->
                        <li class="no-outline-mac" ng-click="logout()"><a>Logout</a></li>
                    </ul>
                </li>
            </ul>
            <!-- center Nav Section -->
            <ul class="center">
                
                <li><a id="top-bar-menu" ui-sref="testSeriesAllView">HOME</a></li>
                <li><a id="top-bar-menu" ui-sref="testSeriesAllView">HOW IT WORKS</a></li>
                <li><a id="top-bar-menu" ui-sref="mycustomization">CUSTOMIZE</a></li>
                <li><a id="top-bar-menu" ui-sref="testSeriesAllView">POP-UP STORES</a></li>
                <li><a id="top-bar-menu" ui-sref="testSeriesAllView">BLOG</a></li>
                <li><a id="top-bar-menu" ui-sref="booksAllView">ABOUT US</a></li>

            </ul>
        </section>
    </nav>
</div>
