<div>
    <ol class="wizard-progress clearfix" style="margin: 0 auto;
    width: 45%;">
        <li class="active-step">
            <span class="visuallyhidden">Step </span><span class="step-num">1</span>
        </li>
        <li class="active-step">
            <span class="visuallyhidden">Step </span><span class="step-num">2</span>
        </li>
        <li>
            <span class="visuallyhidden">Step </span><span class="step-num">3</span>
        </li>
        <li>
            <span class="visuallyhidden">Step </span><span class="step-num">4</span>
        </li>
    </ol>

<div style="text-align: center; padding: 20px 0;">CUSTOMIZE</div>
<div class="row">
<div style="text-align: center;margin: 0;">
    <div class="small-2 columns">Silhoutte</div>
    <div class="small-2 columns">Neckline</div>

    <div class="small-1 columns">Backline</div>

    <div class="small-2 columns">Sleeves</div>

    <div class="small-2 columns">Fabric</div>
    <div class="small-2 columns">Embroidery</div>
    <div class="small-1 columns">Pockets</div>
    <div></div>
</div>
<div class="small-12 columns">
    <div class="small-6 columns">

        <div class='md-padding' layout="row" layout-wrap layout-align="center center" style="margin: 0 auto;" flex="50">

            <div class="container-img" style="width: 250px;" ng-repeat="">
                <md-card>
                    <img ng-src="data:image/JPEG;base64,{{}}" class="image md-card-image" alt="user avatar">
                </md-card>
            </div>

        </div>

    </div>
    <div class="small-6 columns">Rendered IMG</div>
</div>
</div>
</div>