<div>
    <div id="timeline" class="row" style="padding: 20px 0;">
    <ul class="centerUL wizard-progress clearfix">
        <li class="active-step">
            <span class="visuallyhidden">Step </span><span class="step-num">1</span>
        </li>
        <li class="active-step">
            <span class="visuallyhidden">Step </span><span class="step-num">2</span>
        </li>
        <li>
            <span class="visuallyhidden">Step </span><span class="step-num">3</span>
        </li>
        <li>
            <span class="visuallyhidden">Step </span><span class="step-num">4</span>
        </li>
    </ul>
    </div>

<div style="text-align: center; padding: 0px 0 20px;font-weight: 600;font-size: 20px;">CUSTOMIZE</div>
<div class="row">
<div style="text-align: center;padding: 10px 0;
    background: #FAFAFA;">
    <span class="fabric-components">
        <img ng-click="displaySelectedCategory(0)" class="cloth-type-image" ng-src="assets/images/1.png" />
        Silhoutte
    </span>
    <span class="fabric-components">
        <img ng-click="displaySelectedCategory(1)" class="cloth-type-image" ng-src="assets/images/2.png" />
        Neckline
    </span>
    <span class="fabric-components">
        <img ng-click="displaySelectedCategory(2)" class="cloth-type-image"  ng-src="assets/images/3.png" />
        Backline
    </span>
    <span class="fabric-components">
        <img ng-click="displaySelectedCategory(3)"  class="cloth-type-image"  ng-src="assets/images/4.png" />
        Sleeves
    </span>
    <span class="fabric-components">
        <img ng-click="displaySelectedCategory(4)"  class="cloth-type-image" ng-src="assets/images/5.png" />
        Fabric
    </span>
    <span class="fabric-components">
        <img ng-click="displaySelectedCategory(5)"  class="cloth-type-image" ng-src="assets/images/6.png" />
        Embroidery
    </span>
    <span class="fabric-components">
        <img ng-click="displaySelectedCategory(6)"  class="cloth-type-image" ng-src="assets/images/7.png" />
        Pockets
    </span>
    
</div>
<div class="small-12 columns">
    <div class="small-6 columns">

        <div class='md-padding' layout="row" layout-align="center center" style="margin: 0 auto;" flex="50">

            <div class="container-img" style="width: 180px;" ng-repeat="style in currentCat">
                <md-card>
                    <img ng-src="data:image/JPEG;base64,{{style.image}}" ng-click="updateDTO(style)" class="image md-card-image" alt="user avatar">
                </md-card>
            </div>

        </div>

    </div>
    <div class="small-6 columns" style="text-align: center;">
        <div>this div will have two buttons</div>
        <div>
            <img ng-src="data:image/JPEG;base64,{{renderedImage}}" style="height: 500px;" />
        </div>
        <div>
            <span ng-click="changeImage(1)">Front</span>
            <span ng-click="changeImage(2)">Left</span>
            <span ng-click="changeImage(3)">Right</span>



        </div>

    </div>
</div>
</div>
</div>