<div>
    <ol class="wizard-progress clearfix" style="margin: 0 auto;
    width: 45%;">
        <li class="active-step">
            <span class="visuallyhidden">Step </span><span class="step-num">1</span>
        </li>
        <li class="active-step">
            <span class="visuallyhidden">Step </span><span class="step-num">2</span>
        </li>
        <li>
            <span class="visuallyhidden">Step </span><span class="step-num">3</span>
        </li>
        <li>
            <span class="visuallyhidden">Step </span><span class="step-num">4</span>
        </li>
    </ol>

<div style="text-align: center; padding: 20px 0;">CUSTOMIZE</div>
<div class="row">
<div style="text-align: center;margin: 0;">

    <span>
        <img ng-click="displaySelectedCategory(0)" class="cloth-type-image" src="https://www.arenawaterinstinct.com/en_global/body-shaping-swimwear/img/icon_classic%20bra.png" />
    </span>
    <span>
        <img ng-click="displaySelectedCategory(1)" class="cloth-type-image" src="https://www.arenawaterinstinct.com/en_global/body-shaping-swimwear/img/icon_classic%20bra.png" />
    </span>
    <span>
        <img ng-click="displaySelectedCategory(2)" class="cloth-type-image"  src="https://www.arenawaterinstinct.com/en_global/body-shaping-swimwear/img/icon_classic%20bra.png" />
    </span>
    <span>
        <img ng-click="displaySelectedCategory(3)"  class="cloth-type-image"  src="https://www.arenawaterinstinct.com/en_global/body-shaping-swimwear/img/icon_classic%20bra.png" />
    </span>
    <span>
        <img ng-click="displaySelectedCategory(4)"  class="cloth-type-image"  src="https://www.arenawaterinstinct.com/en_global/body-shaping-swimwear/img/icon_classic%20bra.png" />
    </span>
    <span>
        <img ng-click="displaySelectedCategory(5)"  class="cloth-type-image"  src="https://www.arenawaterinstinct.com/en_global/body-shaping-swimwear/img/icon_classic%20bra.png" />
    </span>
    <span>
        <img ng-click="displaySelectedCategory(6)"  class="cloth-type-image"  src="https://www.arenawaterinstinct.com/en_global/body-shaping-swimwear/img/icon_classic%20bra.png" />
    </span>
    
</div>
<div class="small-12 columns">
    <div class="small-6 columns">

        <div class='md-padding' layout="row" layout-align="center center" style="margin: 0 auto;" flex="50">

            <div class="container-img" style="width: 180px;" ng-repeat="style in currentCat">
                <md-card>
                    <img ng-src="data:image/JPEG;base64,{{style.image}}" ng-click="createDTO(style.id)" class="image md-card-image" alt="user avatar">
                </md-card>
            </div>

        </div>

    </div>
    <div class="small-6 columns">
        <div>this div will have two buttons</div>
        <div>
            <img ng-src="data:image/JPEG;base64,{{renderedImage}}" />
        </div>
    </div>
</div>
</div>
</div>