<!-- Footer -->
<footer>
    <div style="border-top: 1px solid #EBEBEB">
        <div class="small-4 columns" style="line-height:6.5;text-align:center;color: #A8A8A8;font-weight: 600;font-size: 12px;">All Rights Reserved 2017</div>
        <div class="small-4 columns" style="line-height: 5.5;text-align: -webkit-center;">
            <img style="width: 380px;" src="https://www.next2you.com.ng/images/payment.png" />
        </div>
        <div class="small-4 columns" style="line-height:5.5;text-align: center;">
            <span>
                <img style="width: 20px;" src="https://res.cloudinary.com/drd7xdko2/image/upload/v1505971532/fb_logo_qlq2q9.png">
            </span>
            <span>
                <img style="width: 20px;" src="http://img.freepik.com/free-icon/instagram-social-outlined-logo_318-69793.jpg?size=338c&ext=jpg" />
            </span>
            <span>
                <img style="width: 20px;" src="https://maxcdn.icons8.com/Share/icon/Logos//twitter_filled1600.png" />
            </span>
            <span>
                <img style="width: 20px;" ng-src="https://res.cloudinary.com/drd7xdko2/image/upload/v1505971532/li_logo_hdvlyg.png">
            </span>
        </div>

    </div>
</footer>
